
# wp-content
public/app/backups/
public/app/cache/
public/app/plugins/*
public/app/upgrade/*
public/app/uploads/*

# log files
*.log

# config files
config/*
!config/defaults.php
!config/example-com.php
!config/example-dev.php
!config/staging-example-com.php
